<title>All Posts</title>
<div>
	<% if logged_in? %>
		<%= link_to "Log out", logout_path, method: "delete" %><br>
		<%= link_to "New post", new_post_path, method: "get" %><br>
	<% else %>
		<%= link_to "Log in", login_path, method: "get" %>
	<% end %>
</div>

<h1>All Posts</h1>
<div>
	<% posts = Post.all.reverse %>
	<% posts.each do |p| %>
		<br>
		<% if logged_in? %>
			<p><%= p.author %> wrote:</p>
		<% else %>
			<p>Anonymous wrote:</p>
		<% end %>
		<p><%= p.content %></p>
		<br>
	<% end %>
</div>